
@import 'colors';

$fa-font-path: '../node_modules/@fortawesome/fontawesome-pro/webfonts';

@import '~@fortawesome/fontawesome-pro/scss/fontawesome';
@import '~@fortawesome/fontawesome-pro/scss/regular';
@import '~@fortawesome/fontawesome-pro/scss/light';
@import '~@fortawesome/fontawesome-pro/scss/duotone';
@import '~@fortawesome/fontawesome-pro/scss/brands';
@import '~@fortawesome/fontawesome-pro/scss/solid';

a {
	text-decoration: none;
	color: $primary;
}

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/utilities/text';
@import '~bootstrap/scss/grid';

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	font-size: 14px;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}